<h5> Got a lot of bugz? Here are some counting techniques:</h5>

<p> For evenly distributed species, count the insects on three randomly 
selected leaves on each plant. The "randomly selected leaf" will be your 
sampling unit. Average your results from the three leaves, then multiply 
by the number of leaves on the plant to get an estimate of the total 
population.</p>


<p> When individuals are clustered on one part of the plant, sampling a unit 
area within that part of the plant may be necessary. For example, cabbage 
aphids form tight clusters on the underside of large cabbage leaves. By 
counting the aphids within a square centimeter placed within the cluster of 
aphids and then measuring the diameter of the cluster, you can estimate the 
number of aphids within a cluster of that size.
</p>