<div class="col-xs-4">
	<img src="images/bee.jpg" class="image-reel""></a>
</div>
<div class="col-xs-4">
	<center><h4>Observation Form</h4></center>
	<form>
	  <div class="form-group">
	    <label>Insect</label>
	    <select type="text" class="form-control" placeholder="select from dropdown" ng-model="observation.insect_name" ng-options="x for x in insect_names"/>
	  </div>
	   <div class="form-group">
	    <label>Latitude <a href="http://www.latlong.net/convert-address-to-lat-long.html">Find your coordinates</a></label>
	    <input type="text" class="form-control" placeholder="36.1234" ng-model="observation.latitude" />
	  </div>
	  <div class="form-group">
	    <label>Longitude</label>
	    <input type="text" class="form-control" placeholder="-85.77" ng-model="observation.longitude" />
	  </div>
	  <div class="form-group">
		  <label>Date</label>
		   	<div class="input-group date" data-provide="datepicker">
	  			<input type="text" class="form-control datepicker" ng-model="observation.date" />
	  			<div class="input-group-addon"><span class="glyphicon glyphicon-th"></span>
	  			</div>
		   	</div>
	  </div>
	  <div class="form-group">
	    <label>Time</label>
	    <input type="text" class="form-control" placeholder="11:30AM" ng-model="observation.time" />
	  </div>
	  <div class="form-group">
	    <label>Count</label>
	    <input type="text" class="form-control" placeholder="estimate # of bugz" ng-model="observation.population"/>
	  </div>
  <button class="btn btn-default" ng-click="saveObservation()">Submit</button>
  	</form>
</div>

<div class="col-xs-4">
	<div class="link-list">
		<a ng-href="#/graph"><h5>Compare multiple insects' populations throughout the year</h5></a>
		<a ng-href="#/graph"><h5>Compare insect activity in two regions</h5></a>
	</div>	
</div>


