<div class="col-xs-4">
  <img src="images/bee.jpg" class="image-reel""></a>
</div>

<div class="col-xs-4">
  <center><h4>-LOGIN-</h4>
  <h3>with <a class="btn btn-info" ng-click="loginGoogle()"><i style="font-size:24px" class="fa">&#xf1a0;</i></a> or:</h3>
  <div>
      <h5>Username:</h5>
      <input type="text" autofocus="true"  ng-model="user.username">
  </div>
  <div>
      <h5>Password:</h5>
      <input type="password" ng-model="user.password">
  </div>
  <br>
  <div>
      <button class="btn btn-default" ng-click="login()">Login</button>
  </div>
  <br>
  <a href="#/register"><h5>New Here? Register first.</h5></a>
  </center>
</div>

<div class="col-xs-4"></div>

