<div class="col-xs-4">
  <img src="images/bee.jpg" class="image-reel""></a>
</div>

<div class="col-xs-4">
  <center><h4>-REGISTER-</h4>
   <div>
      <h5>First Name:</h5>
      <input type="text" ng-model="user.firstName">
  </div>
  <div>
      <h5>Last Name:</h5>
      <input type="text" ng-model="user.lastName">
  </div>
  <div>
  <div>
      <h5>Username:</h5>
      <input type="text" ng-model="user.lastName">
  </div>
      <h5>Email:</h5>
      <input type="text" autofocus="true" ng-model="user.email">
  </div>
  <div>
      <h5>Password:</h5>
      <input type="password" ng-model="user.password">
  </div>
  <br>
  <div>
      <button class="btn btn-default" ng-click="register()">Register</button>
  </div></center>
</div>

<div class="col-xs-4"></div>

